@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #3a332b;
    --light: #eadacf;
    --orange: #d97b55;
    --mustard: #e3b449;
    --olive: #716040;
    --green: #6a8a60;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins), sans-serif;
}
